<section class="page-nav-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/dashboard">Home</a>
                    </li>
                    <li class="breadcrumb-item active">{{category}}</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title">{{category}} </h3>
                <p class="desc">
                    In Ayurveda, fertility is at the deepest level of health. Everything that is consumed is transformed into shukra, “the seed
                    of life”. In Ayurvedic view, poor diet, digestion or internal toxicity and stress are the frequent causes
                    of fertility problems. Ayurvedic detox protocols are used if the fertility blocker is determined to be
                    “ama” (toxins) in the system. Many factors contribute to toxins including: excess weight, fibroids, poor
                    digestion, constipation or anaemia. Ayurveda takes a holistic view about health and treats the body as
                    a whole instead of an individual ailment. Some of the treatment protocols and herbs proven useful are:
                    Swedanam, Banyan tree bark, Ashwagandha, Shatavari, Triphala, Phala Gritam etc. Ayurveda also recommends
                    a strict diet for those who are having difficulty in conception. Apart from avoiding spicy and excessively
                    salty food, it recommends including the following foods in the patients diet: • Almonds • Fresh Vegetables
                    • Whole Grains • Dairy products such as milk • Fresh Fruits • Dried Fruits All these foods help provide
                    nutrition to the shukra dhatu, which in turn can help a person conceive.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h5 class="header"> Buy products that help with fertility
                </h5>
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let product of products" routerLink="/product-review/{{product.product_name}}/{{product.product_id_pk}}">
                        <div class=" card card-default card-course-min card-course">
                            <img class="card-img-top card-img-max" src="assets/images/products/replace.png" alt="Card image cap">
                            <div class="card-block animated fadeIn card-course-description">
                                <div class="card-body">
                                    <h5 class="m-b-30">
                                        <span class="semi-bold">{{product.product_name}}</span>
                                    </h5>
                                    <p>
                                        {{product.product_title}}
                                    </p>
                                    <p>{{product.product_quantity}} {{product.product_quantity_type}}, {{product.product_price | currency : 'INR'}}</p>
                                </div>

                                <div class="card-footer">

                                    <a routerLink="/product-review/{{product.product_name}}/{{product.product_id_pk}}">Know more
                                        <i class="fa fa-angle-double-right m-l-5"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>