<div class="container footer">
  <div class="row">
    <div class="col-md-4">
      <h5>Nirvriti</h5>
      <ul>
        <li>
          <a>
            Pre Pregnancy & Fertility Care
          </a>
        </li>
        <li>
          <a>
            Pregnancy Care
          </a>
        </li>
        <li>
          <a>
            28 Days Post Pregnancy Care
          </a>
        </li>
        <li>
          <a>
            Post Pregnancy Care
          </a>
        </li>
        <li>
          <a>
            Baby Care Product
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <h5>Support</h5>
      <ul>
          <li>
            <a>
              FAQ
            </a>
          </li>
          <li>
            <a>
              Find a store
            </a>
          </li>
          <li>
            <a>
              Explore Ayurveda
            </a>
          </li>
          <li>
            <a>
              Contact Us
            </a>
          </li>
        </ul>
    </div>
    <div class="col-md-4">
      <h5>Payment Options</h5>
    </div>
  </div>
</div>